{% extends 'app/base.html' %}
{% load static %}
{% block title %} Password Reset Done{% endblock title %}
{% block main-content %}
<!-- <div class="container my-5">
 <div class="row"> -->
 <!-- <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div> -->
  
  <div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      
      <p> An Email has been sent with a link to reset your password.<br><b>Check Your Email</b></p>
    
  
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}